<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">

<head layout:fragment="commonCssHead">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
<div layout:fragment="contentBody">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex py-5">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/incomes">Income</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/expenses">Expense</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/categories">Category</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/tags">Tag</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/orders">Order</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/customers">Customer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/products">Product</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
<div class="row">
    <div class="col">
            <div class="card">
                <img th:src="@{/images/expense.jpeg}" class="card-img-top" alt="expense photo">
                <div class="card-body">
                    <h5 class="card-title" th:text="${'Total Expense '+ lastMonth + ' To ' + today}"></h5>
                    <h2 th:text="${totalExpense}"></h2>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
    </div>
    <div class="col">
        <div class="card">
            <img th:src="@{/images/income.jpeg}" class="card-img-top" alt="income photo">
            <div class="card-body">
                <h5 class="card-title" th:text="${'Total Income '+ lastMonth + ' To ' + today}"></h5>
                <h2 th:text="${totalIncome}"></h2>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img th:src="@{/images/savings.jpeg}" class="card-img-top" alt="income photo">
            <div class="card-body">
                <h5 class="card-title" th:text="${'Total Savings '+ lastMonth + ' To ' + today}"></h5>
                <h2 th:text="${totalSavings}"></h2>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
    </div>
</div>

<span layout:fragment="customJsImportBlock">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</span>
</body>
</html>